*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;  

}
.section2{
    display: flex;
    background-color: black;
    position: relative;   
}
.navbar-brand{
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 700px;
}
.social{
    width: 5%;
    height: 100vh;
    background-color:transparent;
    margin-top: 200px; 
    position: fixed;
    background-color: transparent;  
}
.social a{
    font-size: 20px;
    color: white;
    display: block;
    padding: 20px;       
}
.social a:hover{
    scale: 1.4;

}
.content{
    width: 90%;
    height: 100%;
    background-color: black;
    padding-left: 100px;
}
.rightsec{
    width: 5%;
    height: 100vh;
    position: fixed;
    right: 10px;
    background-color: transparent; 
   
}
.rightsec h6{
    color: white;
    rotate: 90deg;
    margin-top: 250px;
    letter-spacing: 10px;
    font-size: 13px;    
}
.about{
    text-align: left;
    padding-left: 100px;
    padding-top: 100px;
}
.about h5{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}
.about h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px; 
    color: white;
}
.about h2{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px; 
    color: white;
}
.about h5{
    font-size: 20px;
    width: 40%;
    color: white;
}
.experience{
    margin-top: 450px;
    align-items: center;

}
.experience h3{
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 70px;
}
.accordion-body{
    background-color: white;
}
.projects{
    margin-top: 350px;
}
.projects h1{
    margin-top: 100px;
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 70px;
}
.contact{
    
}
.contact{
   margin-top: 250px;
   text-align: center;
}
.contact h1{
    color: white;
    margin-bottom: 30px;
}
.contact h5{
    color: white;
    margin-bottom: 30px;    
}
.footer{
    margin-top: 300px;
    align-items: center;
}
.footer h6{
    text-align: center;
    color: white;
    font-size: 10px;

}
@media screen and (max-width: 900px){
    .about{
        padding-left: 0px;
        align-items: center;
    }
    .about h5{
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 20px;
        color: white;
        width: 100%;
       
    }
    .about h1{
        font-size: 15px;
        font-weight: 800;
        margin-bottom: 20px; 
        color: white;
        padding-left: -20px;
    }
    .about h2{
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 20px; 
        color: white;
    }
    .contact{
        margin-top: 30px;
        padding-left: 0px;
        text-align: left;
    }
    .contact h1{
        font-size: 25px;
        font-weight: 800;
        color: white;
    }
    .contact h5{
        margin-top: -50px;
        text-align: left;
        font-size: 10px;
        margin-bottom: 20px;
        color: white;
    }
    .btn3{
        margin-left: -10px;
    }
    .navbar-toggler-icon{
        height: 15px;
        width: 15px;
    }
    .nav-link{
        height: 10px;
       
        font-size: 10px;
    }
    .btn1{
        margin-top: 20px;
        width: 90px;
        height: 30px;
        margin-left: -10px;   
    }
    .experience{
        margin-top: 30px;
    }
    .experience h3{
        text-align: left;
    }
    .projects{
        margin-top: 30px;
    }
    .projects h1{
        margin-top: 100px;
        text-align: left;
        color: white;
        font-weight: 400;
        margin-bottom: 70px;
    }
    .footer{
        margin-top: 100px;
    }
    .footer h6{
        text-align: left;
        color: white;
        font-size: 6px;
    }
   
        
    }











