*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;  

}
.section2{
    display: flex;
    background-color: black;
}
.social{
    width: 5%;
    height: 100vh;
    background-color:black;
    position: relative;
    margin-top: 200px;
}
.social a{
    font-size: 20px;
    color: white;
    display: block;
    padding: 20px;
    
}
.content{
    width: 90%;
    
    background-color: black;
}
.rightsec{
    width: 5%;
    height: 100vh;
}
.rightsec h6{
    color: white;
    rotate: 90deg;
    margin-top: 250px;
    letter-spacing: 10px;
    font-size: 13px;
}
.about{
    text-align: left;
    padding-left: 50px;
    padding-top: 100px;
}
.about h5{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}
.about h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px; 
    color: white;
}
.about h2{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px; 
    color: white;
}
.about h5{
    font-size: 20px;
    width: 40%;
    color: white;
}
.experience{
    margin-top: 250px;

}
.experience h3{
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;

}










